[submodule "third_party/openblas/OpenBLAS"]
	path = third_party/openblas/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "third_party/armadillo/armadillo-code"]
	path = third_party/armadillo/armadillo-code
	url = https://gitlab.com/conradsnicta/armadillo-code.git
